.container{
    position: absolute;
    top: 0;
    background: #fff;

    min-height: 100vh;
}

.adminBtn{
    background: linear-gradient(to right, rgb(83, 183, 200), rgb(36, 60, 120));
    color: #fff;
    cursor: pointer;
    width: 90vw;
    height: 2rem;
    font-size: 1.5rem;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0vw;
    text-align: center;
}