@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Oswald:wght@200;400;500;600;700&display=swap');

$card-background-color: #222;

.adminBookCard{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    // background: #222;
    background-color: $card-background-color;
    overflow: hidden;
    aspect-ratio: 1 / 2.5;
    
    position: relative;

    // .absoluteDiv{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 200px;
    //     background: yellow;
    //     overflow: auto;
    //     z-index: 1;
    // }

    .imgDesc{
        // position: absolute;
        // top: 0;
        //left: 0;
        //height: 40rem;
        width: 100%;
        // aspect-ratio: 1 / 2;
        //border: 2px solid red;

        img{
            width: 100%;
        }

        p{
            color: #fff;
            font-family: 'Kode Mono', monospace;
            //font-size: .75rem;
            font-size: 10px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* Clamp to 4 lines */
            -webkit-box-orient: vertical;
            //max-height: 6em;
        }
    }

    .actions{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        margin-bottom: 0;
        //background-color: azure;
        background-color: $card-background-color ;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        
        select{
            width: 100%;
            background-color: $card-background-color ;
            //border: none;
            border: 1px solid #fff;
            color: #fff;
        }

        option{
            background: #333;
            color: #fff;
        }

        option:hover {
            background-color:#444;
        }

        #addBtn{
            border: 1px solid #fff;
            height: 20px;
            width: 100%;
            margin: auto;
            color: #fff;
            //background-color: #222;
            background-color: $card-background-color;
            cursor: pointer;

            &.disabled{
                border: 1px solid #bbb;
                color: #bbb;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
}
