<section class="modal-wraper" (click)="anyClick($event)">
    <div class="modal-body">
        <!-- <div class="up-row">
            <h2>{{title}}</h2>
        </div> -->
        
        <form  id="mytest1"[formGroup]="signupForm">
            <div class="row">
                <div class="col">
                    <label for="firstName">First name</label>
                </div>
                <div class="col expandCol">
                    <input id="firstName" type="text" formControlName="firstName" [class.hasError]="firstName?.invalid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="lastName">Last name</label>
                </div>
                <div class="col expandCol">
                    <input id="lastName" type="text" formControlName="lastName" [class.hasError]="lastName?.invalid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="email">Email</label>
                </div>
                <div class="col expandCol">
                    <input id="email" type="text" formControlName="email" [class.hasError]="email?.invalid">
                    <!-- <input id="email" type="text" required formControlName="email"> -->
                </div>
                <!-- <p>That is not a valid email</p> -->
            </div>
            <div class="row">
                <div class="col">
                    <label for="password">Password</label>
                </div>
                <div class="col expandCol">
                    <input id="password" type="text" formControlName="password" [class.hasError]="password?.invalid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="col expandCol">
                    <input id="confirmPassword" type="text" formControlName="confirmPassword" [class.hasError]="confirmPassword?.invalid">
                </div>
            </div>
            <div class="btn-row">
                <div class="btnSend" (click)="submitForm()">
                    <p>create new account</p>
                    <app-send-icon></app-send-icon>
                </div>
            </div>
            <div class="btn-row">
                <div class="btnSend" (click)="openLogin()">
                    <p>already registered? login</p>
                    <app-login-icon></app-login-icon>
                </div>
            </div>
        </form>
        @if(message != undefined){
            <div class="msgRow">
                <p [ngClass]="isSuccess == true? 'success' : 'failure'">{{message}}</p>
            </div>
        }
    </div>
</section>