<header class="header">
  <!-- Your header content goes here -->
  <!-- <h1>Your Fixed Header</h1> -->(CategorySelected)="handleCategorySelected($event)"
  <app-fixed-header (heightChanged)="handleHeightChange($event)"></app-fixed-header>
</header>
<main [style.margin-top]="marginTop">
  <section>
    <router-outlet></router-outlet>
    <!-- <div class="test">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
      <p>10</p>
    </div> -->
  </section>
</main>